header h1{
    background-color: #a3ddcb;
    margin: 0px;
    height: 50px;
    font-size: 30px;
    font-style:oblique;
    font-weight: bold;
    text-align: center;
    padding-top: 10px ;
}
  

  
main p{
    background-color: #84c4af;
    margin: 20px 0px 10px 180px;
    height: 70px;
    width: 70%;
    padding-top: 30px ;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

main div{
    background-color: #eee;
    margin: 10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
main div h2{
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
    padding-bottom: 10px;
}

main div ul {
    list-style-type:square;
    padding-left: 10px;

}
main div ul li{
    margin: 10px;
}


footer div{
    background-color: #eee;
    margin:10px ;
    padding: 10px;
    
}

footer div p{
    font-size: large;
    font-weight: bold;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer div ol{
    list-style-type:lower-alpha;
    padding-left: 20px;

}

footer div ol li{
    margin: 10px;
}
 
